<% if @phrase.present? %>
  $("#phrase-container").prepend("<div class='panel panel-primary'><div class='panel-body'><%= @phrase.name %></div></div>")
<% else %>
  alert("No more phrases in database")
<% end %>  

